.relative-position{
    position: relative;
    top: 30px;
    left: 30px;
    background: rgb(71, 164, 195);
    padding: 10px;
}

.banner-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container .banner{
  background: linear-gradient(-55deg, 1px solid #707070);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 10px #0005;
  overflow: hidden;
}

.position-nav{
  position: flex;
  top: 100px;
  left: 700px;
  padding: 20px;
}

.position-form{
  position: flex;
  top: 40px;
  right: 30px;
}

.container-main{
  display: grid;
  grid-gap: 10px;
  min-height: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 10px;
}

.float{
  margin: 10px;
  float: right;
  width: 600px;
}


.clearfix::after {
  clear: both;
  content: "";
  display: table;
}


section{
  border: 1px solid black;
}