.relative-position{
    position: relative;
    top: 30px;
    left: 30px;
    background: rgb(71, 164, 195);
    padding: 10px;
}

#logo{
  float: left;
  position: flex;
  width: 100%;
  max-width: 300px;
  max-height: 200px;
  min-width: 50%;
  min-height: 50%;

}

.banner-container{
  background-color: #66848F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.position-nav{
  position: flex;
  top: 100px;
  left: 700px;
  padding: 20px;
}

.position-form{
  position: flex;
  top: 40px;
  right: 30px;
}

.container-main{
  display: grid;
  grid-gap: 10px;
  min-height: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



.float{
  margin: 10px;
  float: right;
  width: 600px;
}


.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

#pic{
  width: 40%;
}

p {
  font-family: poppins;
  color:#40362B ;
}

h1{
  font-family: poppins;
  color: #40362B;
  font-size: 2rem;
}

h2{
  font-family: poppins;
  color: #40362B;
  font-size: 1.5rem;

}
.head{
  float: left;
  padding: 10px;
  font-family: poppins;
  color:#113340;
  font-size: 1rem;
}

.foot1{
  padding: 10px;
  font-family: poppins;
  color:#40362B;
  font-size: 1rem;
}

.foot2{
  padding: 10px;
  font-family: poppins;
  color:#40362B;
  font-size: 0.9rem;
  }

  .foot-left{
    float: left;
  }

  .foot-right{
    float: center;
  }